@use "../../sass/" as * with(
    $v_color-secondary: #af2323
);

/*! purgecss start ignore */
.bloc-expertise{
    height: 10rem;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 0 3rem rgba(0,0,0,.1);

    &__container{
        @include m_mw-basis(8rem,60%,3rem, "#logo", ".menu");
        align-items: center;
    }
}

.menu{
    display: flex;
    justify-content: flex-end;

    &__principale{
        @include m_flex(row,wrap,flex-end,center);
        @extend %v_ul-noSkin;
        grid-gap: 1.6rem;

        @include m_breakpoint(max,md){
            position: fixed;
            background-color: transparentize($v_color-secondary, .1);
            right: 0;
            top: 0;
            transform: translateX(100%);
            @include m_box(100%);
            z-index: $v_z-index-fixed;
            transition: all .3s ease-in-out;
        }
    }

    &__burger{
        @include m_flex(column,wrap,center,center);
        grid-gap: 0.8rem;
        position: relative;
        
        span{
            height: 0.2rem;
            width: 3rem;
            background-color: $v_color-secondary;
        }
    }
}

.menu-open{

    .menu{

        &__burger{
            z-index: $v_z-index-fixed + 1;

            span{
                background-color: m_set-color($v_color-secondary);
            }
        }

        &__principale{
            transform: translateX(0);
            flex-direction: column;
            justify-content: center;

            a{
                color: m_set-color($v_color-secondary);
            }
        }
    }
}
/*! purgecss end ignore */